body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

#name-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-with {
    width: 50%;
    padding-left: 5%;
}

.half-with img {
    width: 100%;
}

.link-button {
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;

}

.top_banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-card {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    border-radius: 10px;

}

#bany-web-developer {
    border-left: 10px solid blue;
}

#full-stack-developer {
    border-left: 10px solid tomato;
}

footer p {
    text-align: center;
}